.login-container{
    background: rgb(241, 146, 116); /* For browsers that do not support gradients */
    background: linear-gradient(rgb(241, 146, 116), rgb(71, 52, 38)); 
    height: calc( 100vh - 32px);
    padding: 16px;
}