<div class="sign-up-container">
    <ul class="step-indicator-ul">
        <li class="circular active"><span></span></li>
        <li class="linear"></li>
        <li class="circular"><span></span></li>
        <li class="linear"></li>
        <li class="circular"><span></span></li>
    </ul>
    <div class="page-title">
        <span>CREATE ACCOUNT</span>
    </div>
    <div class="sign-up-form">
        <app-personal-info></app-personal-info>
    </div>
    <footer class="term-and-conditions">
        <span>Terms & Conditions</span>
    </footer>
</div>