<div class="personal-info-form-container">
    <form class="sign-up-form">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="Name" [formControl]="nameFormControl" class="sign-up-inputs">
            <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl" class="sign-up-inputs">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
            <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl" class="sign-up-inputs">
            <mat-error *ngIf="nameFormControl.hasError('required')">
                Password is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

    </form>
</div>