.sign-in-form-container {
    .sign-in-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin: auto;
        .input-full-width {
            width: 100%;
            .sign-in-inputs {
                background: rgba(255, 255, 255, .2);
                border: 0;
                height: 60px;
                border-radius: 30px;
            }
        }
        .sign-in-form-continue-button{
          button{
            width: 106%;
            margin-top: 40px;
            background: transparent;
            border: solid 1px rgba(255, 255, 255, .5);
            color: #F1F1F1;
            height: 60px;
            border-radius: 30px;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
          }
        }
    }
}